body {
  font-family: "Poppins", sans-serif;
}

.composer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 5px 30px;
}

.composer .curveEdge {
  width: 20px;
  height: 30px;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  border-left: 3px solid rgb(243 243 243);
  border-bottom: 3px solid rgb(243 243 243);
  margin-left: 55px;
  margin-top: -10px;
  margin-right: 10px;
}

.composer-container {
  border: 3px solid rgb(243 243 243);
  border-radius: 24px;
  padding: 1rem;
  width: 100%;
}

.composer-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.comment-text {
  font-size: 14px;
  font-weight: 600;
}

.date {
  color: gray;
  font-size: 14px;
  margin-left: 6px;
}

.composer-content {
  display: flex;
  align-items: flex-end;
  margin: 20px 0;
  margin-bottom: 5px;
}

.mention {
  color: rgb(0, 115, 255);
  margin: 5px;
}

.reply {
  border-radius: 15px;
  display: flex;
  align-items: center;
  background-color: #fbf9ec;
  padding: 8px;
  color: #857254;
  white-space: nowrap;
  overflow: hidden;
  flex-wrap: wrap;
}

.reply-input {
  border: 3px solid rgb(243 243 243);
  border-radius: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.reply-input input {
  border: none;
  outline: none;
  width: 100%;
}

.reply-input .reply-icons {
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 10px;
}

.call-icon-container {
  display: flex;
}

.message-container {
  background-color: rgb(243 243 243);
  border-radius: 15px;
  padding: 1rem;
  width: 100%;
}

.call-icon {
  background-color: rgb(255, 77, 0);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.like-icon {
  margin-left: 55px;
  margin-bottom: 15px;
  background-color: #f3f5f4;
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 50px;
  width: 40px;
  margin-top: -10px;
}
.like-icon img {
  width: 15px;
  margin-right: 5px;
}
.like-icon p {
  margin: 0;
  font-size: 12px;
  line-height: 12px;
  margin-top: 5px;
}

input[type="range"] {
  height: 5px;
  -webkit-appearance: none;
  width: 100%;
  border-radius: 8px;
  background: #3b7677;
  transition: background 0.2s ease;
  cursor: pointer;
}

.audio-player {
  background: #e9e8ed;
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 0 10px;
  margin: 10px 0;
}

.audio-player button {
  border: none;
  background: transparent;
  outline: none;
  padding-left: 0;
  margin-right: 3px;
}

.audio-player .audioTimer {
  padding-left: 10px;
  padding-right: 20px;
  font-size: 14px;
  color: gray;
}

.audio-player .soundContainer {
  display: flex;
  align-items: center;
  min-width: 120px;
}

.audio-player .soundIcon {
  margin: 0 5px;
}

.audio-player .audioDots {
  margin: 0 5px;
}

.volume::-webkit-slider-thumb {
  appearance: none;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #fff; /* Change this to your desired color */
  cursor: pointer;
}
